<h1>Traveffpy</h1>
<h2>Attention</h2>
<p>Ceci n'est encore pas finalisé, et pas très propre.</p>
<h2>Utilisation</h2>
<p>Clonez le dépôt, et créez une branche 'utilise'. Lancez ensuite
<code>python3 main.py</code></p>